.homepage-info-div {
  position: fixed;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;

  text-shadow: 0 0 5px rgba(0,0,0, 0.7), 
               0 0 10px rgba(0,0,0, 0.5);
}

.homepage-info-div h1 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 80px;
}

.homepage-info-div p {
  margin: 10px;
}

.homepage-logo-img {
  text-shadow: none;
  width: 100px;
  height: 100px;
  vertical-align: top;
}

@media (max-width: 820px) {
  .homepage-info-div {
    font-size: 14px;
  }
  .homepage-info-div h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .homepage-logo-img {
    width: 50px;
    height: 50px;
  }
}