.pomodoro-div {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 10;
  
  width: fit-content;
  text-align: center;
  padding: 13px 18px;
  border-radius: 6px;

  /* blur effect styles */
  background-color: rgba(0,0,0, 0.05);
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.pomodoro-div .close-btn {
  position: absolute;
  top: -2px;
  right: -6px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.pomodoro-div:hover .close-btn {
  opacity: 0.7;
}
.pomodoro-div .close-btn:hover {
  opacity: 1;
}


.pomodoro-div * {
  text-shadow: 0 0 5px rgba(0,0,0, 0.7);
}

.pomodoro-div > p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.pomodoro-div > .timer {
  width: fit-content;
  margin: 10px auto 5px auto;
  padding: 2px 4px;
  border: 1px solid rgba(255, 255, 255, 0.449);
  border-radius: 2px;
}

.pomodoro-div button {
  cursor: pointer;
  background-color: transparent;
  border: none;

  transition: opacity 0.1s ease;
}
.pomodoro-div button:hover {
  opacity: 0.7;
}
