.todo-list-app {
  position: fixed;
  top: 220px;
  right: 20px;
  z-index: 10;
  
  width: fit-content;
  text-align: center;
  padding: 13px 18px;
  border-radius: 6px;

  /* blur effect styles */
  background-color: rgba(0,0,0, 0.05);
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px rgba(0,0,0, 0.7);
}

.todo-list-app .close-btn {
  position: absolute;
  top: 0px;
  right: -4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.todo-list-app:hover .close-btn {
  opacity: 0.7;
}
.todo-list-app .close-btn:hover {
  opacity: 1;
}

.todo-list-app > p {
  margin: 0 auto 10px;
  font-size: 20px;
  font-weight: 600;
}

.todo-list-app input[type="text"] {
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.074);
  text-shadow: none;
  outline: none;
}

.todo-list-app .submit-btn {
  padding: 2px 5px;
  background-color: rgba(239, 239, 239, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 0.1s ease;
}
.todo-list-app .submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.todo-list-app .delete-btn {
  padding: 2px 5px;
  background-color: transparent;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}
.todo-list-app .delete-btn img {
  width: 15px;
}

.add-todo-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.todos {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  text-align: start;
  border-radius: 5px;
  
  display: grid;
  grid-template-columns: 10px 1fr auto;
  gap: 20px;
  align-items: center;

  max-width: 400px;
}
.todo > input[type="checkbox"] {
  cursor: pointer;
  width: 14px;
  margin: 0;
}

.todo > .todo-text {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
}

.strikethrough {
  text-decoration: line-through;
}

.todo .delete-btn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.todo:hover .delete-btn {
  visibility: visible;
  opacity: 1;
}

.delete-btn:hover * {
  color: rgba(255, 0, 0, 0.73);
}
