* {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  /* padding-top: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(103, 61, 152, 0.643), rgb(78, 86, 161));
  background: linear-gradient(rgb(78, 86, 161), rgba(103, 61, 152, 0.643)); */
  /* background: linear-gradient(#3d4f98a4, rgb(67, 77, 164)); */
  /* height: calc(100vh - 55px); */
}

.homepage-info-div {
  position: fixed;
  width: max-content;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-size: 20px;

  text-shadow: 0 0 5px rgba(0,0,0, 0.7), 
               0 0 10px rgba(0,0,0, 0.5);
}

.homepage-info-div h1 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 80px;
}

.homepage-info-div p {
  margin: 10px;
}


header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  height: 55px;
  padding-inline: 30px;
  z-index: 20;
  
  display:flex;
  align-items: center;
  /* border-bottom-right-radius: 6px; */
  /* box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.333); */

  /* background-color: #22222290; */
  /* border-bottom: 2px solid rgba(127, 127, 127, 0.5); */

  /* blur effect styles */
  /* background-color: rgba(255,255,255,0.1); */
  background-color: rgba(0,0,0, 0.05);
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

header > nav > ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
}

header > nav > ul > li > button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0,0,0, 1);
}

header button {
  transition: opacity 0.1s ease;
}

header button:hover {
  opacity: 0.7;
}

.home-nav-link {
  text-shadow: none;
  font-size: 20px;
  padding-left: 16px;
  padding-right: 12px;
}

.header-right-div {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;

  position: relative;
}
.header-right-div > button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  position: relative;
  display: inline-block;
}
.header-right-div > button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  /* background: rgba(0, 0, 0, 0.2);  */
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  box-shadow: 0 0 15px rgba(0,0,0,1);
}
.header-right-div img {
  width: 20px;
}
img.fullscreen-img {
  width: 18px;
}


.custom-theme-section {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  
  width: fit-content;
  text-align: center;
  
  padding: 10px 30px 40px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px rgba(0,0,0, 0.7);

  /* blur effect styles */
  background-color: rgba(0,0,0, 0.05);
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  display:flex;
  flex-direction: column;
  gap: 30px;
}

.custom-theme-section > .close-btn {
  position: fixed;
  top: 5px;
  right: 3px;
  background-color: transparent;
  border: none;
  opacity: 0.6;

  cursor: pointer;
}

.custom-theme-section  p {
  font-size: 22px;
}

.input-and-btn-div {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  /* margin-bottom: 50px; */
}

.input-and-btn-div > input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.074);
  /* outline: none; */
}

.input-and-btn-div > input[type="text"] {
  font-size: 15px;
  width: 300px;
}

#custom-bg-input {
  max-width: 300px;
  width: 100%;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5)
}

.input-and-btn-div button  {
  font-size: 15px;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.449);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  text-wrap: nowrap;

  cursor: pointer;
}


.player-info-and-controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 25px;
  gap: 10px;
  /* background-color: #22222290; */
  border-top-right-radius: 6px;
  /* border-top: 2px solid rgba(127, 127, 127, 0.5); */
  /* border-right: 2px solid rgba(127, 127, 127, 0.5); */

  /* blur effect styles */
  background-color: rgba(0,0,0, 0.05);
  border-top: 1px solid rgba(255,255,255, 0.2);
  border-right: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.player-controls {
  padding: 0;
  display: flex;
  gap: 20px;
  /* background-color: blue; */
}
.player-controls > button:hover {
  transition: opacity 0.1s ease;
}
.player-controls > button:hover {
  opacity: 0.7;
}

.player-info-and-controls > .video-title {
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0,0,0, 1);
  vertical-align: middle;
  /* background-color: green; */
}

.player-info-and-controls > .video-title > span {
  color: rgb(230, 230, 230);
  font-weight: 100;
  font-size: 14px;
  margin-right: 8px;
}


.player-controls > button {
  /* font-size: 10px; */
  padding: 5px 10px;
  background-color: rgba(239, 239, 239, 0.449);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  text-shadow: 0 0 5px rgba(0,0,0, 1);

  cursor: pointer;
}

/* .player-wrapper.small-size {
  margin-inline: auto;
  margin-top: 30px;
  height: 350px;
  width: 622px;
} */

.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  margin-top: 0;
  pointer-events: none;
}

.player-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw; /* 16:9 ratio of width */
  min-width: 177.78vh; /* 16:9 ratio of height */
  min-height: 100vh;
  transform: translate(-50%, -50%);
}



.pomodoro-div {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 10;
  
  width: fit-content;
  text-align: center;
  padding: 13px 18px;
  border-radius: 6px;

  /* blur effect styles */
  background-color: rgba(0,0,0, 0.05);
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.pomodoro-div * {
  text-shadow: 0 0 5px rgba(0,0,0, 0.7);
}

.pomodoro-div > p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.pomodoro-div > .timer {
  width: fit-content;
  margin: 10px auto 5px auto;
  padding: 2px 4px;
  border: 1px solid rgba(255, 255, 255, 0.449);
  border-radius: 2px;
}

.pomodoro-div button {
  cursor: pointer;
  background-color: transparent;
  border: none;

  transition: opacity 0.1s ease;
}
.pomodoro-div button:hover {
  opacity: 0.7;
}

.todo-list-app {
  position: fixed;
  top: 220px;
  right: 20px;
  z-index: 10;
  
  width: fit-content;
  text-align: center;
  padding: 13px 18px;
  border-radius: 6px;

  /* blur effect styles */
  background-color: rgba(0,0,0, 0.05);
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-shadow: 0 0 5px rgba(0,0,0, 0.7);
}

/* .todo-list-app * {
  text-shadow: 0 0 5px rgba(0,0,0, 1);
} */

.todo-list-app > p {
  margin: 0 auto 10px;
  font-size: 20px;
  font-weight: 600;
}

.todo-list-app input {
  /* width: 100%; */
  padding: 2px 5px;
  /* font-size: 15px; */
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.074);
  text-shadow: none;
  outline: none;
}

.todo-list-app .submit-btn {
  /* font-size: 17px; */
  padding: 2px 5px;
  background-color: rgba(255, 255, 255, 0.449);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;

  cursor: pointer;
}

.todo-list-app .delete-btn {
  padding: 2px 5px;
  /* background-color: rgba(255, 255, 255, 0.449); */
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  background-color: transparent;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}
.todo-list-app .delete-btn img {
  width: 15px;
}

.add-todo-div {
  display: flex;
  gap: 10px;
}

.todos {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  text-align: start;
  /* padding: 1px 2px; */
  /* margin: 10px 0; */
  border-radius: 5px;
  
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  
  /* width: 100%; */
}

.about-btn {
  font-size: 20px;
  margin-bottom: 4px;
}


/* tooltips */
.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  top: 40px;
  font-size: small;
  width: max-content;
  text-align: center;
  
  padding: 2px 5px;
  
  /* blur effect styles */
  background-color: rgba(0,0,0, 0.4);
  border: 1px solid rgba(255,255,255, 0.2);
  border-radius: 4px;
  backdrop-filter: blur(20px);

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
}

.about-tooltip {
  right: -10px;
}
.fullscreen-tooltip {
  right: 20px;
}
.pomodoro-tooltip {
  right: 35px;
}
.todo-list-tooltip {
  right: 105px;
}



.about-btn:hover + .about-tooltip, .fullscreen-btn:hover +.fullscreen-tooltip, .pomodoro-btn:hover + .pomodoro-tooltip, .todo-list-btn:hover + .todo-list-tooltip {
  visibility: visible;
  opacity: 1;
}