@import url('./styles/header.css');
@import url('./styles/homepage.css');
@import url('./styles/player.css');
@import url('./styles/pomodoro.css');
@import url('./styles/todo.css');
@import url('./styles/customTheme.css');
@import url('./styles/tooltip.css');

* {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  color: white;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  /* padding-top: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-image: linear-gradient(rgba(103, 61, 152, 0.643), rgb(78, 86, 161));
  background: linear-gradient(rgb(78, 86, 161), rgba(103, 61, 152, 0.643)); */
  /* background: linear-gradient(#3d4f98a4, rgb(67, 77, 164)); */
  /* height: calc(100vh - 55px); */
}